Flask
requests
google-generativeai
pickle5
numpy
torch
Pillow
selenium
beautifulsoup4
webdriver-manager
datetime
langchain
langsmith
langchain_huggingface
langchain_qdrant
langchain_core
langchain_community
google-cloud-translate
markdown
