<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>रोग भविष्यवाणी</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='disease.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include "base1.html" %}
    <div class="container">
        <h1>रोग शोधण्यासाठी प्रतिमा अपलोड करा</h1>
        <div class="form-wrapper">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <p class="crop-support">सध्या समर्थन दिलेले आहे:</p>
                    <ul>
                        <li>सफरचंद</li>
                        <li>ब्लूबेरी</li>
                        <li>चेरी (आंबट समाविष्ट)</li>
                        <li>मका</li>
                        <li>द्राक्ष</li>
                        <li>संत्र</li>
                        <li>पीच</li>
                        <li>मिरची</li>
                        <li>बटाटा</li>
                        <li>रास्पबेरी</li>
                        <li>सोयाबीन</li>
                        <li>कोहळा</li>
                        <li>स्ट्रॉबेरी</li>
                        <li>टोमॅटो</li>
                    </ul>
                    <label for="file">प्रतिमा फाइल निवडा:</label>
                    <input type="file" id="file" name="file">
                </div>
                <button type="submit" class="btn">शोधा</button>
            </form>
        </div>
        {% if filename %}
        <div class="card">
            <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="अपलोड केलेली प्रतिमा">
            <h5 class="card-title">अपलोड केलेली प्रतिमा: {{ filename }}</h5>
            <p class="card-text">{{ prediction | safe }}</p>
        </div>
        {% endif %}
    </div>
    {% include "footer1.html" %}
</body>
</html>
