<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='viewPdf.css') }}">

    <title>View PDF</title>
</head>
<body>
    {% include "base.html" %}
    <embed src="{{ url_for('static', filename='files/' + pdf_file) }}" type="application/pdf" width="100%" height="600px">
    <br>
</body>
</html>
